<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Course Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.GoalAdd"></activity>
        <activity android:name=".Controller.AssessmentModify" />
        <activity android:name=".Controller.AssessmentAdd" />
        <activity android:name=".Controller.AssessmentView" />
        <activity android:name=".Controller.CourseView" />
        <activity android:name=".Controller.MentorView" />
        <activity android:name=".Controller.MentorModify" />
        <activity android:name=".Controller.MentorAdd" />
        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>