<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Course Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.Course.CourseDeleteNote"></activity>
        <activity android:name=".Controller.Term.TermCreateCourse" />
        <activity android:name=".Controller.Note.NoteAdd" />
        <activity android:name=".Controller.Course.CourseAdd" />
        <activity android:name=".Controller.Course.CourseModify" />
        <activity android:name=".Controller.Course.CourseDetailedView" />
        <activity android:name=".Controller.Term.TermDetailedView" />
        <activity android:name=".Controller.Term.TermRemoveCourse" />
        <activity android:name=".Controller.Term.TermAddCourses" />
        <activity android:name=".Controller.Term.TermModify" />
        <activity android:name=".Controller.Term.TermAdd" />
        <activity android:name=".Controller.Term.Terms" />
        <activity android:name=".Controller.Goal.GoalAdd" />
        <activity android:name=".Controller.Assessment.AssessmentModify" />
        <activity android:name=".Controller.Assessment.AssessmentAdd" />
        <activity android:name=".Controller.Assessment.AssessmentView" />
        <activity android:name=".Controller.Course.Courses" />
        <activity android:name=".Controller.Mentor.MentorView" />
        <activity android:name=".Controller.Mentor.MentorModify" />
        <activity android:name=".Controller.Mentor.MentorAdd" />
        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>